In [ ]:
print('Hello, Python Workld!')

Hello, Python Workld!

In [ ]:
print("Hello, Python World!!")

 # 따움표 차이

Hello, Python World!!

In [ ]:
print('실무데이터분석')

 # 한글 가능

실무데이터분석

In [ ]:
?print 

# 사용시 오른쪽에 도움말이라는 창 생성

# ex)
# Docstring:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False) ...

In [ ]:
print()

In [ ]:
a = 3
print(a)
type(a)

# 타입 확인 - 정수

3

int

In [ ]:
a = 'ab'
print(a)
type(a)

# 타입 확인 - 문자

ab

str

In [ ]:
midterm = 65
final = 90
quiz = 99

print(quiz)

results = midterm*0.4 + final*0.4 + quiz*0.2
print(results)

# 변수 할당 후 계산

99
81.8

In [ ]:
midterm, final, quiz = 65, 90, 99
results = midterm*0.4 + final*0.4 + quiz*0.2
print(results)

# 다중 할당 - 튜플 기능

81.8

In [ ]:
print(type(midterm))
 
print(results)

print(type(results))

# 위에서 실행한 값 그대로 적용 중
# 정수형과 실수형

<class 'int'>
81.8
<class 'float'>

In [ ]:
print(type(midterm))

<class 'int'>

In [ ]:
a = 10/3
print(a)
print(type(a))

3.3333333333333335
<class 'float'>

In [ ]:
 comp_01 = complex(3,5)
 comp_02 = 3 + 5j
print(comp_01)
print(comp_02)
print(type(comp_01))
print(type(comp_02))

# 복소수 타입 확인

(3+5j)
(3+5j)
<class 'complex'>
<class 'complex'>

In [ ]:
10/7

1.4285714285714286

In [ ]:
10//7 

# 몫 확인
# 나머지는 % 사용

1

In [ ]:
print(1,2,3)

1 2 3

In [ ]:
print('1\t2\t3')

# 탭(tab) 기능

1	2	3

In [ ]:
print(1,2,3,sep='\t')

# 위와 같은 방식

1	2	3

In [ ]:
print(1,2,3,sep='\n\n')

# 엔터(Enter) 2번

1

2

3

In [ ]:
print(3,end='\t*\t\n')
print(5,end='*')

# end는 출력 완료후 내용의 수정.

3	*
5*

In [ ]:
thanks = 'thanks'
name = '실무데이터분석'
tn = thanks +',    '+ name

print(tn)
print(len(thanks))
print(len(name))
print(len(tn))

# 문자열도 더하기 가능
# len은 문자열의 길이를 반환

thanks,    실무데이터분석
6
7
18

In [ ]:
multilines = """
hello, python world
- keras
- anything
"""
print(multilines)

# """ """ 안쪽에 전부 문자로 취급. 엔터도 적용되는것 확인 가능

hello, python world
- keras
- anything

In [ ]:
print('여기에 %d 을 출력하고싶다' % (5))

# 값을 치환하는 방법. %d 는 정수

여기에 5 을 출력하고싶다

In [ ]:
print('여기에 %s을 출력하고싶다' % ('5입니다.'))

# %s 는 문자

여기에 5입니다.을 출력하고싶다

In [ ]:
print('%s는 %d %s' % ('이 뒤에 오는 숫자는', 6, '입니다.'))

# 중복 사용 가능

이 뒤에 오는 숫자는는 6 입니다.

In [ ]:
print('{0}과 {1} 그리고 거꾸로 {1} 과 {0}로 출력됩니다.'.format('abc','한국세종'))

# 인덱스 위치를 정해두고 format 안의 순서와 동일한 것을 적용

abc과 한국세종 그리고 거꾸로 한국세종 과 abc로 출력됩니다.

In [ ]:
print('%s는 %d %s' % ('이 뒤에 오는 숫자는', results , '입니다.'))

# 변수도 가능

이 뒤에 오는 숫자는는 81 입니다.

In [ ]:
print('이름 : %s 의 결과값은 %d 입니다.' % (name, results))

이름 : 실무데이터분석 의 결과값은 81 입니다.

In [ ]:
print('{0}은 {1} 이고,  {0}은 {2} 합니다.'.format(name, results, thanks))

실무데이터분석은 81.8 이고,  실무데이터분석은 thanks 합니다.

In [ ]:
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

print(type(stu01))

# list 사용

<class 'list'>

In [ ]:
print(stu03)

['Yoshua Bengio', 92, 88, 84]

In [ ]:
print(stu03[0])

# list 요소 조회 방법, 0 부터 시작

Yoshua Bengio

In [ ]:
print(stu01[1])
print(stu01[3])

95
90

In [ ]:
stu = [stu01, stu02, stu03, stu04]
stu = [["Geoffery Hinton", 95, 65, 90], stu02, stu03, stu04]

print(type(stu01))

<class 'list'>

In [ ]:
print(stu)
print(stu[0])
# list 안의 list 넣기 - 2차원 list 생성

[['Geoffery Hinton', 95, 65, 90], ['Yann Lecun', 80, 85, 90], ['Yoshua Bengio', 92, 88, 84], ['Andrew Ng', 75, 85, 100]]
['Geoffery Hinton', 95, 65, 90]

In [ ]:
print(stu[0][0])
print(stu[0][2])

print(stu[2][3])

# 예상 
# 'Geoffery Hinton'
# 65
# 84

Geoffery Hinton
65
84

In [ ]:
l = [1,2]

print(l)
print(type(l))

# 앞에서 배운것 복습

[1, 2]
<class 'list'>

In [ ]:
print(l[0], l[1], sep='\n')

1
2

In [ ]:
ts= [1, 2, ['a', 'b']]
print(ts)

[1, 2, ['a', 'b']]

In [ ]:
print(ts[2][0])

a

In [ ]:
print(ts[2])

['a', 'b']

In [ ]:
print(ts[2][1])

b

In [ ]:
l = [1, 2, ['a', 'b'], [100, 200, 300, 500]]
print(l)

[1, 2, ['a', 'b'], [100, 200, 300, 500]]

In [ ]:
print(l[3][2])

300

In [ ]:
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

print(type(stu01))

<class 'list'>

In [ ]:
print(stu01)
stu01.append(100)
print(stu01)

# append를 통한 list에 요소 추가하기

['Geoffery Hinton', 95, 65, 90]
['Geoffery Hinton', 95, 65, 90, 100]

In [ ]:
print(stu01)
del stu01[0]
print(stu01)

# del를 사용하여 요소 제거. 여기서는 del이 앞으로 온 모습 확인 가능

['Geoffery Hinton', 95, 65, 90, 100]
[95, 65, 90, 100]

In [ ]:
print(stu01)
stu01[0] = 99
print(stu01)

# 변수에 값 넣는 것 처럼 요소 변경

[95, 65, 90, 100]
[99, 65, 90, 100]

In [ ]:
stu05 = stu01
print('stu05: ', stu05)
stu06 = stu01.copy()
print('stu06: ', stu06)

# copy 함수를 사용해 list 복사. 아마 객체 주소와 연관있을 것으로 추정

stu05:  [99, 65, 90, 100]
stu06:  [99, 65, 90, 100]

In [ ]:
stucp = stu01
print('stu01: ', stu01)
print('stucp: ', stucp)
print('---------')
stu01[1] = 30000
print('stu01: ', stu01)
print('stucp: ', stucp)
print('stu06: ', stu06)

# copy 없이 사용시 stu01이 바뀌자 stucp도 같이 바뀌는 모습 확인 가능. stu06은 변화 없음.

stu01:  [99, 65, 90, 100]
stucp:  [99, 65, 90, 100]
---------
stu01:  [99, 30000, 90, 100]
stucp:  [99, 30000, 90, 100]
stu06:  [99, 65, 90, 100]

### **과제 01.**

In [ ]:
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

# 초기화

In [ ]:
# 위의 4개의 리스트를 담은 리스트 stu 를 생성하세요. 

stu = [stu01, stu02, stu03, stu04]

In [ ]:
# 첫 학생의 이름 중 Last Name만 출력하세요. 
print(stu[0][0][9:])

Hinton

In [ ]:
# 두번째 학생의 이름 중 Last Name만 출력하세요. 
print(stu[1][0][5:])

Lecun

In [ ]:
# 세번째 학생의 이름 중 Last Name만 출력하세요. 
print(stu[2][0][7:])

Bengio

In [ ]:
a='this is sentence'
# a 타입을 출력하시오
type(a)

str

In [ ]:
# a 에서 "is" 만을 출력하시오
a[5:7]

'is'

In [ ]:
# 모든 학생들의 이름 중 Last Name만 출력하세요. 다음을 완성하세요.

In [ ]:
print(stu[0][0][9:]) 
print(stu[1][0][5:]) 
print(stu[2][0][7:]) 
print(stu[3][0][7:])

Hinton
Lecun
Bengio
Ng

In [ ]:
# '이렇게 30을 출력해요'
print("\'이렇게 30을 출력해요\'")

'이렇게 30을 출력해요'

In [ ]:
# stu 리스트 의 점수 합산을 계산하시오. 첫번째점수 *0.4 + 두번째점수*0.4 + 세번째점수 *0.2

print(stu[0][1]*0.4+stu[0][2]*0.4+stu[0][3]*0.2) 
print(stu[1][1]*0.4+stu[1][2]*0.4+stu[1][3]*0.2) 
print(stu[2][1]*0.4+stu[2][2]*0.4+stu[2][3]*0.2) 
print(stu[3][1]*0.4+stu[3][2]*0.4+stu[3][3]*0.2)

82.0
84.0
88.8
84.0

In [ ]:
# stu 리스트에 위에서 구한 합산 점수를 추가 하세요. 
stu[0].append(82.0)
stu[1].append(84.0)
stu[2].append(88.8)
stu[3].append(84.0)
print(stu)

[['Geoffery Hinton', 95, 65, 90, 82.0], ['Yann Lecun', 80, 85, 90, 84.0], ['Yoshua Bengio', 92, 88, 84, 88.8], ['Andrew Ng', 75, 85, 100, 84.0]]

In [ ]:
# 다음의 email 작성하시오. 변수를 활용하여 첫 학생의 이름과 합산 점수를 출력하세요. 
email = """
Hello, {0}

{0}의 이번학기 성적은 {1}입니다.

수고하셨습니다. 

"""

print(email.format(stu[0][0],stu[0][4]))

Hello, Geoffery Hinton

Geoffery Hinton의 이번학기 성적은 82.0입니다.

수고하셨습니다.

### **과제 02.**

In [ ]:
for  i in [1,2,3]:
    print(i)
print(i)

1
2
3
3

In [ ]:
for j in range(2): #0, 1
    for i in range(5): #0, 1,2,3,4 
        print('*', end='')
    print()

*****
*****

In [ ]:
for j in range(6):
    for i in range(j): 
        print(j, i)
    print()

1 0

2 0
2 1

3 0
3 1
3 2

4 0
4 1
4 2
4 3

5 0
5 1
5 2
5 3
5 4

In [ ]:
# 위의 코드를 변형하여 다음 모양을 출력해보자
# 1. 
# *
# **
# ***
# ****
# *****


# 2. 
# *****
# ****
# ***
# **
# *

# 3.
# *
# **
# ***
# ****
# *****
# ******
# *****
# ****
# ***
# **
# *

# 1
for j in range(6): 
    for i in range(j): 
        print('*', end='')
    print()

print()

# 2
for j in range(5):
    for i in range(5-j):
        print('*', end='')
    print()

print()

# 3

for j in range(12):
    if j <7 :
      for i in range(j): 
        print('*', end='')
        
    else:
         for i in range(12-j): 
          print('*', end='')
    print()
    

print()

*
**
***
****
*****

*****
****
***
**
*


*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
# 각 리스트의 요소는 name, midterm, quiz, final입니다. 
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

# 학생들의 midterm, quiz, final요소만 slicing 해서 mqf 라는 새로운 list를 구문을 완성하세요.
stu = [stu01, stu02, stu03, stu04]
# # 2차원 리스트 요소 조회
# stu[1][0]
# stu[0][1]
# stu[:][1]
# stu[1][:]

mqf = []


for i in range(4):
 
  for j in range(4):
    
    if type(stu[i][j]) == type(0):
      mqf.append(stu[i][j])
      

print(mqf)

[95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]

### **과제 03.**

In [ ]:
# 1. 두 개의 정수 값을 받아 평균을 구하는 함수를 작성하세요.
def get_average(x,y):
  return (x+y)/2



print(get_average(3, 5))

4.0

In [ ]:
# 2. 리스트를 입력받아서 최소값과 최대값을 반환하는 함수를 작성하세요.
def get_min(ls):
    min=ls[0]
   
    for i in range(len(ls)):
      if min > ls[i]:
        min = ls[i]
    return min

    

print(get_min([1, 2, 3, 4, 5]))

1

In [ ]:
def get_max(ls):
    max=ls[0]
   
    for i in range(len(ls)):
      if max < ls[i]:
        max = ls[i]
    return max

print(get_max([1, 2, 3, 4, 5]))

5

In [ ]:
# 4. 각 리스트의 요소는 name, midterm, quiz, final입니다. 
stu = [["Geoffery Hinton", 95, 65, 90],
       ["Yann Lecun", 80, 85, 90],
       ["Yoshua Bengio", 92, 88, 84],
       ["Andrew Ng", 75, 85, 100]]

# 학점 규칙: 중간고사 35%, 기말고사 35%, 퀴즈 30%
# total을 계산하는 함수를 생성하세요. 
def total(a,b,c):
  for i in range(len(stu)):
    print("%s의 total은 %f 입니다" % (stu[i][0],stu[i][1]*a/100+stu[i][2]*b/100+stu[i][3]*c/100)) 


  return 


total(35, 30, 35)

Geoffery Hinton의 total은 84.250000 입니다
Yann Lecun의 total은 85.000000 입니다
Yoshua Bengio의 total은 88.000000 입니다
Andrew Ng의 total은 86.750000 입니다

In [ ]:
# 학점 규칙: 중간고사 35%, 기말고사 35%, 퀴즈 30%
# 앞의 stu 리스트중 한 명의 것을 입력 받아, 이름과 성적을 계산하는 total2 함수를 생성하세요.

def total2(s):
    r= s[1] * 0.35 + s[2]*0.3 + s[3]*0.35
    name = s[0]
    return name, r
    
name, score = total2(stu[1])
print(name, score)

Yann Lecun 85.0

In [ ]:
# 직전의 함수를 사용하여 stu긔 각 사람별로 이름과 성적을 출력하세요.
print( total2(stu[0]) )
print( total2(stu[1]) )
print( total2(stu[2]) )
print( total2(stu[3]) )

('Geoffery Hinton', 84.25)
('Yann Lecun', 85.0)
('Yoshua Bengio', 88.0)
('Andrew Ng', 86.75)

In [ ]:
# for문을 이용하여 stu 모든 학생들의 total 결과를 st list에 차례로 담으세요. 
# 앞에서 만든 total2 함수를 사용하세요.
st = []
for i in stu:
    # print(total2(i))
    st.append(total2(i))
    # print(st)

print(st)

[('Geoffery Hinton', 84.25), ('Yann Lecun', 85.0), ('Yoshua Bengio', 88.0), ('Andrew Ng', 86.75)]

In [ ]:
# 점수에 해당하는 grade를 반환하는 함수를 만드세요. 
# 90이상 A, 80이상 B, 70 이상 C, 나머지는 F
def grade(s):
    if s>= 90:
        g = 'A'
    elif s>= 80:
        g = 'B'
    elif s>= 70:
        g = 'C'
    else:
        g = 'F'
    return g

print(grade(75))
print(grade(60))
print(grade(91))

C
F
A